<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EmailServer" value="smtp.gmail.com" />
    <add key="FromEmailAddress" value="noreply@realmdigital.com" />
    <add key="ToEmailAddress" value="calvinrealmdigital@gmail.com" />
    <add key="EmailBody" value="Happy Birthday {0}, {1}" />
    <add key="EmailPassword" value="P@55calvinrealmdigital" />
    <add key="EmailUsername" value="calvinrealmdigital@gmail.com" />
  </appSettings>
</configuration>