<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="ApiUrl" value="https://eohmc-acme-api.azurewebsites.net" />
    <add key="EmailServer" value="smtp.gmail.com" />
    <add key="FromEmailAddress" value="noreply@realmdigital.com" />
    <add key="ToEmailAddress" value="calvinrealmdigital@gmail.com" />
    <add key="EmailBody" value="Happy Birthday {0}, {1}" />
    <add key="EmailPassword" value="P@55calvinrealmdigital" />
    <add key="EmailUsername" value="calvinrealmdigital@gmail.com" />
  </appSettings>
</configuration>